/* #relative-container{
    border: 2px solid black;
    height: 200px;
    width: 400px;
}
/* #relative-container div{} */

/* #relative-container > div{
    border: 2px solid red;
    display: inline-block;
    height: 100px;
    width: 100px;
} */
/* div:nth-of-type(2){
    color: aquamarine;
} */

/* #relative-container > div:nth-of-type(2){
    color: orchid;
} */
/* #relative-container > div:nth-child(2){
    position: relative;
    top: 50px;
     left: 50px; 
    right: 100px;
    background-color: lightblue;
}  */

/* #absolute-container{
    border: 2px solid black;
    height: 200px;
    width: 400px;
    position: relative;
} */


/* #absolute-container > div{
    border: 2px solid red;
    display: inline-block;
    height: 100px;
    width: 100px;
} */

/* #container{
    border : solid blue 3px;
    height: 300px;
    width: 500px;
    position:absolute;
} */
/* #absolute-container > div:nth-child(2){
    position: absolute;
    right:15px;
    background-color: lightseagreen;
} */


/* #fixed-container{
    border: 2px solid black;
    height: 200px;
    width: 400px;
    
} */
/* #fixed-container > div{
    border: 2px solid red;
    display: inline-block;
    height: 100px;
    width: 100px;
} */

/* #fixed-container > div:nth-child(2){
    position: fixed;
    top: 20px; 
    right: 0px;
} */

#sticky-container{
    border: solid 6px blue;
}

#sticky-container > p:nth-child(2){
    background-color: lightcoral;
    position: sticky;
    top: 10px;
}


